<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="blazelogBase.styles.css" />    
    <HeadOutlet @rendermode="InteractiveServer" />
    <script src="/_content/blazelogBase.Control/js/exampleJsInterop.js"></script>
    <script src="/_content/blazelogBase.Control/js/observer.js"></script>
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
