@model LoginModel
@{

}
@{
    <section class="gradient-custom">
        <div class="container inner-form-height">
            <div class="row d-flex justify-content-center align-items-center inner-form-height">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <form id="LoginForm" class="needs-validation" method="post" novalidate>
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase font-block">Login</h2>
                                    <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                    <div data-mdb-input-init class="form-outline form-white mb-6">
                                        <input type="text" asp-for="UserId" class="form-control form-control-lg" id="fvdUserId" />
                                        <label class="form-label" asp-for="UserId" for="fvdUserId">User Id</label>
                                        <span asp-validation-for="UserId" class="text-danger"></span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline form-white mb-6">
                                        <input type="password" asp-for="Password" id="fvdPassword" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="Password" for="fvdPassword" >Password</label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>



                                    <button data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" form="LoginForm" asp-area="" asp-controller="Home" asp-action="Login">Login</button>

                                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                        @*                                     <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a> *@
                                    </div>

                                </div>



                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

}

@section Scripts {
    @{
        <script type="text/javascript" src="@Url.Content("~/js/rz-login.js")"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@section Styles {
    <link rel="stylesheet" href="~/css/rz-login.css" />
}